@import url(https://fonts.googleapis.com/css?family=Space+Mono);
body{
    width: 100%;
    height: 100%;
    margin: none;
    background-color: hsl(185, 41%, 84%);
    font-weight: 700;
    font-family: 'Space Mono';
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-right: 20%;
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 300px;
    border-radius: 10px;
    padding-top: 30px;
    background-color: hsl(0, 0%, 100%);


}
.text-white{
    color: hsl(0, 0%, 100%);
}
.p-text{
    color: hsl(184, 14%, 56%);
    font-size:12px ;
    
}
.text-cyan{
    color: rgb(15, 211, 133);
    font-weight: bold;
}
.text-lightcyan{
    color: hsl(184, 14%, 56%);
}

.background-cyan{
    background-color:rgb(15, 211, 133) ;
}
.input{
 width: 40%;
 display: flex;
 flex-direction: column;
 margin-right: 20px;
 height: 70%;
 margin-top: 5px;
 margin-bottom: 20px;
}
.output{
 width: 45%;
 background-color: hsl(183, 100%, 15%);
 height: 90%;
 border-radius: 10px;
 align-content: center;
 margin-left: 20px;
}
.output-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
.output-content1{
    display: flex;
    flex-direction: column;
}
.output-heading{
    font-size: 15px;
}
.output-subheading{
    font-size: 10px;
}
.reset{
    
    background-color:  rgb(15, 211, 133);
    color:hsl(183, 100%, 15%) ;
    font-weight: bold;
    border-radius: 5px;
    /* padding: 10px 30px 10px 30px; */
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    margin-top: 35%;
}
.content{
    display: flex;
    flex-direction: column;
}
.column-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: -10px;
}
.row-content{
    display: flex;
    flex-direction: row;
}
.row{
    background-color:hsl(183, 100%, 15%) ;
    border-radius: 5px;
    /* padding: 10px 30px 10px 30px; */
    width: 90px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    margin: 0px 0px 10px 10px;
}
.custom-row{
    background-color:hsl(185, 41%, 84%) ;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    /* padding: 10px 30px 10px 30px; */
    margin: 0px 0px 10px 10px;
    font-size: small; 
}
.custom-row:hover{
    border: 2px solid hsl(183, 100%, 15%) ;
}
.row-15{
    background-color: rgb(15, 211, 133);
    border-radius: 5px;
    width: 90px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    /* padding: 10px 30px 10px 30px; */
    margin: 0px 0px 10px 10px;
}
.logo{
    display: flex;
    justify-content: center;
    margin-bottom: -70px;
}
.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(185, 41%, 84%);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.bar:hover{
    border: 2px solid hsl(149, 98%, 24%);
}
input{
    border: none;
    resize:none;
    outline:none;
    background-color:hsl(185, 41%, 84%) ;
    width: 20px;
    color: hsl(149, 98%, 24%);
    font-size: 15px;
}